


/*Universal Style*/
body{
    background-color: black;
    color: white;
}
.container{
    width: 100vw;
    margin: 0 auto;
}
a{
    font-size: 16px;
    color: aqua
}
/*Header*/
nav{
    width: 100%
}
nav .navbar-title{
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}
/*Section*/


/*Footer*/
