
/*Universal Style*/
*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 8px;
}
a{
    display: block;
    text-align: center;
    color: aquamarine;
    font-size: 16px;
}
/*Header*/
nav{
    width: 100%;
    text-align: center;
}
nav h1{
    margin-top: 33.5px;
    margin-bottom: 33.5px;
    font-size: 50px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    position: relative;
    top: 20px;
    text-align: center;
}
/*Section*/
section{
    width: 100%;
    text-align: center;
}
section h2{
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
section p{
    font-size: 21px;
    color: gray;
}

/*Footer*/
footer{
    position: relative;
    top: 15px;
    text-align: center;
}
footer img{
    width: 60px;
}
footer h2{
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}
footer p.copyright-title{
    text-align: right;
    color: gray;
    font-weight: 300;
    font-size: 21px;
}

